<div
  class="bg-offwhite text-dark-purple w-64 rounded border-2 border-purple hover:border-pink hover:shadow-pink transition-shadow"
>
  <img src="/assets/img/IBM_Model_M_1391403_keyboard.jpg" alt="" />
  <div>
    <div class="flex flex-row flex-nowrap justify-between px-2 mb-2">
      <span class="font-bold uppercase">IBM Model M 1391403</span>
      <span>$90</span>
    </div>
    <div class="px-3 pb-4 text-justify">
      First manufactured in 1986, the IBM Model M features a buckling-spring key
      design and swappable keycaps. They are lauded by typing enthusiasts the
      world over for their durability, consistency, and deeply satisfying
      audible and tacticle feedback.
    </div>
  </div>
</div>