<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VinTek</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="bg-gradient-to-tr from-dark-purple to-purple">
    <div class="wrapper">
      <header class="flex flex-row flex-nowrap justify-between py-3 px-10">
        <h1 class="text-3xl font-press-start text-yellow">
          <a href="/">VinTek</a>
        </h1>
        <div>
          <input
            class="px-2 py-1 rounded"
            type="search"
            name="product-search"
            id="product-search"
            placeholder="search..."
          />
        </div>
        <nav class="flex-row flex-nowrap justify-between">
          {{#if loggedIn}}
            <a href="/dashboard">My Account</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>