{{>checkout-info checkout }}

{{#if loggedIn}}
<form class="product-form">
  <div>
    <textarea name="product-body"></textarea>
  </div>

  <div>
    <button type="submit">Continue checkout</button>
  </div>
</form>
{{/if}}

<!--{{> comments post.comments}}-->

{{#if loggedIn}}
{{/if}}