{{>checkout-info checkout }}

{{#if loggedIn}}
<form class="product-form">
  <div>
    <textarea name="product-body"></textarea>
  </div>

  <div>
    <form action="/create-checkout-session" method="POST">
    <button type="submit">Checkout</button>
    </form>
  </div>
</form>
{{/if}}

<!--{{> comments post.comments }}-->

{{#if loggedIn}}
{{/if}}