<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{{>checkout-info checkout }}

{{#if loggedIn}}
<form class="product-form">
  <div>
    <textarea name="product-body"></textarea>
  </div>

  <div>
    <form action="/create-checkout-session" method="POST">
    <button type="submit">Checkout</button>
    </form>
  </div>
</form>
{{/if}}

<!--{{> comments post.comments }}-->

{{#if loggedIn}}
{{/if}}