<div class="flex flex-col md:flex-row">
  <div class="text-pink px-2 py-1 w-64">
    <h2 class="font-press-start bg-yellow px-2 py-1">Shop By Category</h2>
    <ul>
      <li>Keyboards</li>
      <li>Keyboards</li>
      <li>Keyboards</li>
      <li>Keyboards</li>
      <li>Keyboards</li>
      <li>Keyboards</li>
      <li>Keyboards</li>
    </ul>
  </div>
  
  <div class="grid auto-cols-auto">
    {{> single-item}}
  </div>
</div>