<div class="container mx-auto max-w-fit">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      {{#each products as |product|}}
      <a href="/products/{{id}}">{{> single-product}}</a>
      {{/each}}
    </div>
</div>
