<div class="mt-5 flex flex-col md:flex-row justify-between">

  <div class="text-pink px-2 py-1 w-64">
    <h2 class="font-press-start bg-yellow px-2 py-1">Shop By Category</h2>
    <ul>
      {{#each categories}}
        <li class="mt-2"><a
            href="/category/{{this}}"
            class="hover:text-yellow transition-color"
          >{{this}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="flex flex-col md:flex-row justify-between px-5">
    <img src="/assets/img/IBM_Model_M_1391403_keyboard.jpg" alt="" />
    <div class="flex flex-col justify-between px-2 mb-2">
      <div class="font-bold uppercase text-xl">IBM Model M 1391403</div>
      <div class="text-lg">$90</div>

      <p class="px-3 pb-4 text-justify">
        {{product_desc}}
      </p>

      <button
        class="bg-pink text-dark-purple shadow-yellow font-press-start py-2 px-3 rounded max-w-fit"
      >Add to Cart</button>

    </div>
  </div>
</div>